<div class="panel">
   <div class="panel-heading text-center">
   </div>
   <div class="panel-body">
   </div>
</div>

<div class="row">
  <div class="col-md-3 text-center text-danger">
    <h2>商品分类管理</h2>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" ng-model="searchText" placeholder="搜索分类">
    </div>
  </div>
  <div class="col-md-3 text-center">
    <a class="btn btn-success btn-sm btn-lg" ng-href="#/categoryAdd">增添分类<span class="glyphicon glyphicon glyphicon-hand-up"></span></a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
       <div class="panel-heading">
         <div class="row text-center">
           <div class="col-md-4">分类名称</div>
           <div class="col-md-4">修改分类</div>
           <div class="col-md-4">删除分类</div>
         </div>
       </div>
       <div class="panel-body" ng-repeat="category in categories | filter:searchText">
         <div class="row text-center">
           <div class="col-md-4 form-group">{{category.name}}</div>
           <div class="col-md-4 form-group">
             <a class="btn btn-lg" ng-href="#/catagoryChange">
               <button ng-click="addCartSum(item)" type="button" class="btn btn-primary btn-sm add">修改该分类</button>
             </a>
           </div>
           <div class="col-md-4 form-group">
             <button ng-click="addCartSum(item)" type="button" class="btn btn-danger btn-sm add">删除该分类</button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
