<div class="panel">
   <div class="panel-heading text-center">
   </div>
   <div class="panel-body">
   </div>
</div>

<div class="row">
  <div class="col-md-3 text-center text-danger">
    <h2>商品信息管理</h2>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" ng-model="searchText" placeholder="搜索商品">
    </div>
  </div>
  <div class="col-md-2 text-center">
    <button ng-click="addCategory()" type="button" class="btn btn-success btn-sm add">
      添加新商品<span class="glyphicon glyphicon glyphicon-hand-up"></span>
    </button>
  </div>
  <div class="col-md-3 text-center form-inline" ng-show="clickAddCategory">
    <input class="form-control" placeholder="请输入想添加的的分类名称" ng-model="newCategory.name">
    <input type="submit" class="btn btn-success btn-sm" value="添加" ng-click="finishAddCategory(newCategory.name)">
  </div>
  <div class="col-md-3 text-center form-inline" ng-show="clickChangeCategory">
    <input class="form-control" placeholder="category[].name" ng-model="newCategory.name">
    <input type="submit" class="btn btn-primary btn-sm" value="修改" ng-click="finishChangeCategory(v.name)">
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
       <div class="panel-heading">
         <div class="row text-center">
           <div class="col-md-2">商品名称</div>
           <div class="col-md-2">商品单价</div>
           <div class="col-md-2">商品单位</div>
           <div class="col-md-4">修改商品信息</div>
           <div class="col-md-2">删除商品</div>
         </div>
       </div>
       <div class="panel-body" ng-repeat="category in categories | filter:searchText">
         <div class="row text-center">
           <div class="col-md-4 form-group">{{category.name}}</div>
           <div class="col-md-4 form-group">
             <a class="btn btn-lg" ng-href="#/catagoryChange">
               <button ng-click="changeCategory(category)" type="button" class="btn btn-primary btn-sm add">修改该商品</button>
             </a>
           </div>
           <div class="col-md-4 form-group">
             <button ng-click="deleteCategory(category)" type="button" class="btn btn-danger btn-sm add">删除该商品</button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
